<html>
  <head>
       <link rel="stylesheet" href="/static/screen.css">
  </head>

    <body>
        <div id="results">
          <form id="fetchUserTweets" action="#">
            <div>
            <label for ="username">ScreenName:</label>
            <input type="text" id="screenname"/>
            <button id="fetch">Fetch timeline</button>
            <br/><br/>
                        <label for="searchQuery">Search within tweets</label>
            <input type="text" id="searchQuery"/>
              <button id="search">Search</button>
              </div>
        </form>
            
        </div>
        <script id="tweetTemplate" type="text/template">
        <img src="<%= coverImage %>"/>
        <ul>
            <li><%= text %></li>
            <li><%= user %></li>
            <li><%= time %></li>
        </ul>
        </script>
    </body>
    
    
<script src="/static/jquery-1.8.3.min.js"></script>
<script src="/static/underscore.js"></script>
<script src="/static/backbone.js"></script>
<script src="/static/app.js"></script>
</html>